* {
  margin: 0;
  padding: 0;
}
body {
  background-color: rgba(204, 197, 197, 0.2);
  font-family: cursive;
}

#navbar {
  position: fixed;
  width: 20%;
  height: 100%;
  padding: 20px;
  background-color: rgba(204, 197, 197, 0.2);
  box-shadow: 0px 1px 5px 0 silver;
}

#navbar header {
  font-size: 20px;
  padding: 5px;
  text-align: center;
  box-shadow: 0px 5px 10px 0px grey;
}

#navbar ul {
  margin: 1px;
  padding: 3px;
  height: 88%;
  box-shadow: 0px 4px 10px 0px grey;
  overflow-y: auto;
  overflow-x: hidden;
}

#navbar li {
  position: relative;
  list-style: none;
  width: 90%;
  padding: 5px;
  text-align: center;
  margin: 30px 5px;
  box-shadow: 0px 1px 2px 0px grey;
}

#navbar a {
  font-style: italic;
  text-decoration: none;
  color: rgb(85, 93, 102);
  cursor: pointer;
}

#main-doc {
  width: 70%;
  position: absolute;
  margin-left: 375px;
  color: rgb(53, 49, 49);
}

#main-section {
  margin: 10px;
  padding: 10;
}

#main-doc header {
  margin-bottom: 10px;
}

#main-doc h3 {
  margin-bottom: 10px;
}

#main-doc h4 {
  margin-bottom: 10px;
}

code {
  text-align: justify;
  font-size: 15px;
  font-family: "Courier New";
}

#main-doc li {
  margin-left: 40px;
  padding: 10px;
}

#main-doc p {
  text-align: justify;
  line-height: 30px;
}

@media (max-width: 500px) {
  #navbar {
    position: relative;
    width: 100%;
    height: 300px;
    z-index: 1;
  }

  #main-doc {
    position: relative;
    margin: 10px;
    color: rgb(53, 49, 49);
  }
}
